<article class="box category<%= producto.category %>">
    <% if (producto.images[0] == undefined) { %>
        <% producto.imagesUrl = null %>  
    <% } else { %>
        <% producto.imagesUrl = producto.images[0].url %>  
    <% } %> 
    <figure class="slider-img">
        <img src="/product/<%= producto.imagesUrl %>" alt="Imagen de <%= producto.name %>">
        <form class="overlay">
            <a href="/productos/<%= producto.id %>" class="buy-btn">Comprar</a>
        </form>
    </figure>
    <href class="detail-box">
        <div class="type">
            <h2><%= producto.name %></h2>
            <h3><%= producto.brand_id.name %></h3>
        </div>
        <h2 class="price"><%= producto.price %></>
    </href>
</article>