<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/head.ejs') %>
    <!-- CSS PARTICULAR -->
    <link rel="stylesheet" href="/css/productCreateEdit.css">
    <script src="/js/productEditValidations.js"></script>
</head>
<body>
    <section class="newProduct">
    <img class="logo" src="/assets/iconos/logo/logo-02.svg " alt="Logo">
    <h1>EDITAR PRODUCTO</h1>
    <form id="createForm" action="/productos/update?m=PUT" target="_self" method="post" name="createForm" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= product_id.id %>">
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="<%= product_id.category %>" selected><%= product_id.category_id.name %></option>
            <option value="1">Bikinis</option>
            <option value="2">Primeras Pieles</option>
            <option value="3">Segundas Pieles</option>
            <option value="4">Make Up</option>
            <option value="5">Accesorios</option>
        </select>
        <label for="nombre_producto">Nombre del Producto:</label>
        <input type="text" id="nombre_producto" name="nombre_producto" 
        value="<%= locals.oldData ? oldData.nombre_producto: product_id.name %>" >
        <span id="nameError" class="error"></span>
        <% if (locals.errors && errors.nombre_producto) { %>
            <p>
                <%= errors.nombre_producto.msg %> 
            </p>
        <% } %>
        <label for="marca" class="toHide">Marca:</label>
        <input type="text" id="marca" class="toHide" name="marca" 
        value="<%= locals.oldData ? oldData.marca: product_id.brand_id.name %>" >
        <span id="brandError" class="error"></span>
        <% if (locals.errors && errors.marca) { %>
            <p>
                <%= errors.marca.msg %> 
            </p>
        <% } %>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descipcion" rows="6" value="<%= locals.oldData ? oldData.descripcion: product_id.description %>" ><%= locals.oldData ? oldData.descripcion: product_id.description %></textarea>
        <span id="descriptionError" class="error"></span>
        <% if (locals.errors && errors.descripcion) { %>
            <p>
                <%= errors.descripcion.msg %> 
            </p>
        <% } %>
        <label for="precio">Precio final:</label>
        <input type="text" id="precio" name="precio" value="<%= locals.oldData ? oldData.precio: product_id.price %>" >
        <span id="priceError" class="error"></span>
        <% if (locals.errors && errors.price) { %>
            <p>
                <%= errors.price.msg %> 
            </p>
        <% } %>
        <label for="talle" class="toHide">Talle:</label>
        <select name="talle" class="toHide" id="talle">
            <option value="<%= stock.size %>" selected><%= stock.size_id.size %></option>
            <option value="1"> S </option>
            <option value="2"> M </option>
            <option value="3"> L </option>
            <option value="4"> Único </option>
        </select>
        <label for="pcolor" class="toHide">Color:</label>
        <input type="color" id="pcolor" class="toHide" name="pcolor" value="<%= stock.color_id.value %>">
        <label for="nombreColor" class="toHide">Nombre del Color:</label>
        <input type="text" id="nombreColor" class="toHide" name="nombreColor" value="<%= stock.color_id.name %>">
        <span id="colorError" class="error"></span>
        <label for="stock" class="toHide">Stock Disponible:</label>
        <input type="number" id="stock" class="toHide" name="stock" min="0" max="100" value="<%= locals.oldData ? oldData.stock: stock.stock %>" >
        <span id="stockError" class="error"></span>
        <% if (locals.errors && errors.stock) { %>
            <p>
                <%= errors.stock.msg %> 
            </p>
        <% } %>
        <label for="imagen">Elige las Imagenes:</label>
        <input type="file"  id="imagen" name="imagen" accept="image/png, image/jpeg" multiple required>       
        <fieldset id="estado">
            <label for="estado">Estado:</label><br>
            <input type="radio" class="status" id="activo" name="activo" value="activo" checked>
            <label for="activo">Activo</label><br>
            <input type="radio" class="status" id="inactivo" name="activo" value="inactivo">
            <label for="inactivo">Inactivo</label>
        </fieldset><br>
        <span id="statusError" class="error"></span>
        <br>
        <input type="submit" id="guardar" value="Guardar">
</form>
<form action="/productos/borrar?m=DELETE" method="post" id="deleteForm">
    <label for="delete">¿Desea eliminar este producto?</label>
    <input type="submit" id="delete" value="Eliminar">
    <input type="hidden" name="id" value="<%= product_id.id %>">
</form>
</section>
</body>
</html>