<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %>
    <!-- CSS PARTICULAR -->
    <link rel="stylesheet" href="/css/productDetail.css">
    
</head>
<body>
    <!-- Header -->
    <%- include('../includes/header.ejs')  %> 
    <!-- Main -->
    <main>
        <section class="container">
            <!-- Imagenes Portatil -->
                <section class="imagenes">
                    <figure class="imagenesPequeñas">
                        <img src="/product/<%= producto_id.images[1].url %>" alt="reverso">
                        <img src="/product/<%= producto_id.images[2].url %>" alt="reverso">
                    </figure>
                    <img class="imagenPpal" src="/product/<%= producto_id.images[0].url %>" alt="fotoproducto">
                </section>

            <!-- Imagenes Slider Mobile -->
            <section class="seccionSlider">
                <!-- image slider start -->
                <div class="slideer">
                    <form class="slidees">
                        <!-- radio button start -->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <!-- radio button end -->
                        <!-- slide image start-->
                        <figure class="slidee first">
                            <img src="/product/<%= producto_id.images[0].url %>" alt="">
                        </figure>
                        <figure class="slidee">
                            <img src="/product/<%= producto_id.images[2].url %>" alt="">
                        </figure>
                        <figure class="slidee">
                            <img src="/product/<%= producto_id.images[1].url %>" alt="">
                        </figure>
                        <!-- slide image end-->
                    </form>
                    <!-- manual navigation start-->
                    <form class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                    </form>
                    <!-- manual navigation end-->
                </div>
                <!-- image slider end -->
            </section>

            <!-- DETALLES -->
            <section class="contenedorDetalles">
                <nav class="categorias">
                    <a href="../productos"> Productos </a> - <a href="/productos?cat=<%= producto_id.category %> " style="text-transform: capitalize"> <%= producto_id.category_id.name %> </a> <p> - <%= producto_id.brand_id.name %></p>
                </nav>
                    <h2 class="tituloProducto"> <%= producto_id.name %>  </span></h2>
                    <h1 class="precio"> $ <%= producto_id.price %> <span style="font-size: 0.4em; color: black; text-decoration:line-through;">$<%= producto_id.price*1.2 %></span></h1>
                <hgroup class="pagos">
                    <h2>
                        <img src="/assets/iconos/pago/credit-card-fill.svg" alt="Medio de pago">
                        <span style="color: rosybrown">3 cuotas sin interes de</span>
                        $ <%= producto_id.price/3 %>
                    </h2>
                    <h2>
                        <img src="/assets/iconos/pago/money-bill-wave-solid.svg" alt="Medio de pago">
                        <span style="color: rosybrown">10% de descuento</span>
                        pagando con transferencia bancaria.
                    </h2>
                    <h2><a href="#" style="color: rosybrown">Ver más detalles</a></h2>
                </hgroup>
                <form class="elecciones">
                    <fieldset class=color>
                        <legend>COLOR</legend>
                        <ul id="color">
                            <li>
                                <input type="radio" name="color" id="color" value="color" >
                                <label for="color-piel"><span style="background-color: <%= stock.color_id.value %>"></span></label>
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="talle">
                        <legend>TALLE:</legend>
                        <label id="talle" name="eleccionTalle"> <%= stock.size_id.size %> </label>
                    </fieldset>
                    <fieldset class="stock">
                        <legend>DISPONIBLE:</legend>
                        <label id="stock" name="stock"> <%= stock.stock %> unidades</label>
                    </fieldset>
                    <fieldset class="botonAgregar">
                        <button type="submit">Agregar al Carrito</button>
                    </fieldset>
                </form>
                
            </section>
        </section>
        <details class="descripcion">
            <summary>Descripción:</summary>
            <p>
                <%= producto_id.description %> 
            </p>
        </details>
    </main>
    <!-- Footer -->
    <%- include('../includes/footer.ejs') %>
</body>
</html>