<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    
    <!-- NORMALIZE CSS -->
    <link rel="stylesheet" href="/css/normalize.css">

    <!-- CSS PARTICULAR -->
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>
    <%- include('../includes/header.ejs') %>
        <main>
            <article class="container">
                <img class="loguito" src="/assets/iconos/logo/logo-02.svg">
                <section class="contenedorImagenes">
                        <img class="imagen" src="assets/images/primer-separador.png" alt=" ">                   
                </section>
                <section class="register">
                    <h4>Regístrate para crear una cuenta</h4>
                    <form class="formulario" action="/users/register" method="POST" enctype="multipart/form-data">
                            <!-- <label for="nombre-apellido"></label>
                            <input id="nombreApellido" type="text" name="nombre" placeholder="Nombre y apellido"
                            value="<%= locals.oldData ? oldData.nombre : null %>">
                            <% if (locals.errors && errors.nombre) { %>
                                <p>
                                    <%= errors.nombre.msg %> 
                                </p>
                            <% } %>
                             -->
                            <label for="email"></label>
                            <input for="email" type="email" name="email" placeholder="E-mail"
                            value="<%= locals.oldData ? oldData.email : null %>" >
                            <% if (locals.errors && errors.email) { %>
                                <p>
                                    <%= errors.email.msg %> 
                                </p>
                            <% } %>
                            <label for="email_confirm"></label>
                            <input for="email_confirm" type="email" name="email_confirm" placeholder="Confirmá tu E-mail"
                            value="<%= locals.oldData ? oldData.email_confirm : null %>">
                            <% if (locals.errors && errors.email_confirm) { %>
                                <p>
                                    <%= errors.email_confirm.msg %> 
                                </p>
                            <% } %>
                            <label for="contraseña"></label>
                            <input id= "contraseña" type="password" name="password" placeholder="Elegí tu contraseña">
                            <% if (locals.errors && errors.password) { %>
                                <p>
                                    <%= errors.password.msg %> 
                                </p>
                            <% } %>
                            <label for="contraseña_confirmar"></label>
                            <input id="contraseña_confirmar" type="password" name="confirm_password" placeholder="Confirmá tu contraseña">
                            <% if (locals.errors && errors.confirm_password) { %>
                                <p>
                                    <%= errors.confirm_password.msg %> 
                                </p>
                            <% } %>
                            <label for="avatar"></label>
                            <input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg">
                            <% if (locals.errors && errors.avatar) { %>
                                <p>
                                    <%= errors.avatar.msg %> 
                                </p>
                            <% } %>
                            <button class="buttoon" type="submit">
                                Registrarme
                            </button>
                            <button class="buttoon" type="reset">
                                Borrar
                            </button>
                    </form>
                </section>
            </article>
        </main>
        <%- include('../includes/footer.ejs')  %>
 </body>
 </html>  