<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>

<body>
    <!-- Header -->
    <%- include('../includes/header.ejs') %>

    <!-- CSS PARTICULAR -->
    <link rel="stylesheet" href="/css/userProfile.css">
        <main>
        <article class = "container">
            <h1 class="bienvenida">Bienvenido/a <%= user.email %>
            </h1>
            <img src="/user/<%= user.avatar_id.url %>" class="circleImage">
            <br>
            <br>
            <!--<div class="alert alert-succes">
                <%= user.email %> 
            </div> -->
            <br>
            <article class="containerBtn">
            <form class="userProfileRegister">
                    <button class="btn" type="submit">EDITAR PERFIL</button>
            </form> 
            <form action="/users/logout" method="GET">
                    <button class="btn" type="submit">CERRAR SESIÓN</button>    
            </form>
        </article>
        </main>
        <!-- Footer -->
        <%- include('../includes/footer.ejs') %>

</body>

</html>